.accordeon {
  position: relative;
  background: url("../img/decor/bg_menu.jpg") center center/cover no-repeat, #000;
}

.accordeon__list {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
}

.accordeon__item {
  height: 100%;
  display: flex;
}

.accordeon__trigger {
  display: flex;
  width: 100px;
  background-position: left bottom;
  background-size: cover;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 40%;
}

.accordeon__title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  transform: rotate(-90deg);
  white-space: nowrap;
  width: 100%;
}

.accordeon__wrap {
  width: 0;
  overflow: hidden;
  transition: 1s;
}

.accordeon__item_active .accordeon__wrap {
  width: 630px;
}

.accordeon__content {
  display: flex;
  min-width: 630px;
  height: 100%;
  padding: 50px 130px 50px 30px;
  overflow-y: auto;
  background-color: rgba(51, 53, 55, 0.93);
  color: #fff;
  position: relative;
}

.accordeon__close {
  position: relative;
  fill: #fff;
  width: 20px;
  height: 20px;
}

.accordeon__close-icon {
  width: 20px;
  height: 20px;
}