.section {

  /*min-height: rem(800px);*/
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--font-color--green {
    color: $darkGreen;

    .section__title {
      color: inherit;
    }
  }
}

.section__title {
  font-size: rem(48px);
  font-weight: bold;
  margin-bottom: rem(10px);
  text-align: center;
  text-transform: uppercase;
  color: #000;
}